/* Grey box around Profile*/
.box {
	background-color: #F2F2F2;
	margin-bottom: 8px;
	border: 1px solid #d9d9d9;
	font: normal 100%/1.5 helvetica, arial, sans-serif;
}


.profile {
	top: 0;
	position: relative;
}

.profile a {
	color: #00ACCF;
	margin-bottom: 8px;
}

.profile li {
	display: block;
	list-style:none;
	margin-left: -40px;
}

.profile .social {
	display: inline-block;
	float: left;
}

.bio {
	padding: 1em;
}

.bio p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.bio h2 {
	margin: 0;
	padding: 0;
}

.skills {
	margin: 5px 0;
}

.hearts {
	background-position: top;
	background-repeat:no-repeat;
	background-size: 100%;
	background-image: url(../img/hearts.png);
	width: 6em;
	margin: 0 1em;
}

.work {
	padding: 1em;
}

.thumbnails {
	display: inline-block;
	top: 0;
	z-index: 0;
  width: 100%;
}

.thumbnail {
  display: block;
  width: 100%;
	cursor: pointer;
}

.item {
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1;
}

.videos {
	display: inline-block;
	top: 0;
	z-index: 0;
  width: 100%;
}

.video {
  display: block;
  width: 100%;
	cursor: pointer;
}

.vid {
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1;
}

/* Buttons*/

.btn-close-profile {
	text-align: center;
	border: 2px solid #00ACCF;
	background-color: #00ACCF;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	margin-bottom: 8px;
}

.btn-close-profile p {
	font-weight: bold;
	margin: 0;
	padding: 8px;
	height: 100%;
	width: 100%;
}

.btn-close-item {
	z-index: 2;
	height: 40px;
	text-align: center;
	line-height: 24px;
	border: 2px solid #00ACCC;
	background-color: #00ACCC;
	color: #fff;
	padding: 0 1em;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
	outline: none;
	}

.btn-close-item-bottom {
	height: 40px;
	text-align: center;
	line-height: 24px;
	border: 2px solid #00ACCC;
	background-color: #00ACCC;
	color: #fff;
	padding: 0 1em;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	bottom: 15px;
	right: 8px;
	outline: none;
	}

.btn-prev-profile {
	float: left;
	text-align: left;
	margin: 8px;

	color: #fff;
	background-color: #00ACCC;
}

.btn-next-profile {
	float: right;
	text-align: right;
	margin: 8px;

	color: #fff;
	background-color: #00ACCC;
}

.btn-prev-profile p,
.btn-next-profile p {
	font-weight: bold;
	margin: 0;
	padding: 1em;
	height: 100%;
	width: 100%;
}

.btn-prev-profile:focus,
.btn-next-profile:focus {
	outline: none;
}

.btn-close-profile:hover,
.btn-close-item:hover,
.btn-prev-profile:hover,
.btn-next-profile:hover {
	color: #FED100;
}
